body {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
}

/* Table - Pagination */
.table-custom{
    width: 100%;
}

.overflow-table {
    overflow-x: auto;

}

.table-head{
    background-color: #008a77;
    color: white;
}

.table-col-1-pl {
    padding-left: 5px;
}

.custom th, tr {
    padding: 10px 0;
}

.btn-detail {
    border: 0;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    min-width: 70px;;
}

.table-body tr {
    height: 32px;
}

.table-body .commune i{
    margin-top: 6px;
    margin-right: 15px;
}

.table-body .commune{
    display: flex;
    justify-content: space-between;
}

.table-body tr:nth-child(even) {
    background: #f6f7f7;
}

.table-col-width-10 {
    width: 10%;
}

.table-col-pl-3 {
    padding-left: 3% !important;
}

.table-col-width-13 {
    width: 13%;   
}

.table-col-width-15 {
    width: 15%;   
}

.pagination {  
    display: inline;
}

.pagination  a{
    color: #007bff;
    padding: .2rem .5rem;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #00a0e3;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #b7c0ca;
    color: white;
}

.table-detail {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.table-detail-right{
    display: flex;
    margin: 0 10px;
}